body {
  
    width: 100%;
    height: 100%;

    /* background: url(http://api.thumbr.it/whitenoise-361x370.png?background=dbdbdbff&noise=626262&density=15&opacity=15);  */
    /* background-image: url(assets/images/menu_background.png); */
    background-image: url(assets/images/background.jpg);
    

}

.hidden {
    display: none;
}

.mainCont {
    position: absolute;
    width: 35%;
    background-color: #dfe0dd;
    left: 0;
    top: 12rem;
    right: 0;
    margin: auto;
    border-radius: 10px;
    border: 2px solid #5452ff;
    box-shadow: 0px 0px 30px #000000;

}

.queueCont {
    margin: 5rem auto 0 auto;
    width: 30%;
    height: 100%;
    background-color: #dfe0dd;
    border-radius: 10px;
    border: 0px solid #5452ff;
    box-shadow: 0px 0px 30px #000000;
    display: none;
    font-size: 3rem;
}

.statsRowMe {
    background-image: linear-gradient(blue, darkblue);
}

.statsRowEnemy {
    background-image: linear-gradient(#ba0101, #600000);
}

.statsRowAlly {
    background-image: linear-gradient(green, darkgreen);
}

#statsTable {
    color: white;
    min-width: 40rem;
    font-family: "Calibri";
    font-size: 2rem;
    border: 3px solid black;
}

#statsTable td {
    padding: 1rem 2rem 1rem 2rem;
    text-align: center
}

#statsTable thead {
    padding: 2rem;
    background-color: #000000;
    font-weight: bold;
}

.bestCell {

   font-weight: bold;
   text-decoration: underline;
  
}

#menuCont {
    margin: 0 auto;
    min-width: 65rem;
    width: 45%;
    height: 100%;
    background-color: white;
    border: 2px solid lightblue;
    border-radius: 10px;
    padding: 2rem 3rem 1rem 3rem;
    margin-top: 3rem;
    display: none;
}

#inpName {
    width: 80%;
    text-align: center;
    margin: 0 auto;

    display: block;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h1 {
    text-align: center;
    font-family: Orbitron;
}

.gameMode {
    display: flex;
    position: relative;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.gameMode:hover {
    background-color: burlywood;
}

.noTopBorder {
    border-top: 0px;
}


.modeThumb {
    /* max-width: 10rem;
    min-width: 10rem;
    width: 10rem; */
    width: 15%;
    max-width: 10rem;
    /* padding: 0.8rem 2rem 0.8rem 1rem; */
}

.thumb {
    width: 8rem;
}

.modeDesc {
    width: 65%;
}

.modeEnd {
    width: 20%;
    padding: 2rem;
    font-weight: bold;
    text-align: right;
}

.wrongInput {
    background-color: #fca1a1!important;
}

#chatCont {
    margin-top: 3rem;
    padding: 2rem;
    border: 2px solid #000000;
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
}

#messCont {
    height: 10rem;
    max-height: 10rem;
    overflow-y: scroll;
    border: 1px solid grey;
}

.pendingCover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(107, 63, 25, 0.9);
    text-align: center;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}

.pendingCover::before{
    content: "Waiting for player(s)...";
}


#footer {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

#chatHeader {
    margin-bottom: 1rem;
    display: flex;
}

#chatInp {
    display: block;
    flex-grow: 3;
    padding: 6px 12px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.worstCell {
    
   
}

#gameChatCont {
    display: none;
    width: 30rem;
    position: absolute;
    padding: 0.5rem;
    background-color: rgb(255, 208, 88);
}

#gameChatInp {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#helpPanel {
    display: none;
    position: absolute;
    top: 0px;
    left: -800px;
    width: 500px;
    height: 100%;
    background-color: rgba(107, 63, 25, 0.7);
    color: white;
    padding: 2rem;
}